<!DOCTYPE html>
<html lang="ru">
	<head>
		<!-- Basic
		================================================== -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<!-- CSS
		================================================== -->
		<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="/css/base.css" rel="stylesheet" type="text/css">
		<link href="/css/media.css" rel="stylesheet" type="text/css">
		<link href="/css/news.css" rel="stylesheet" type="text/css">
		<!-- JS
		================================================== -->
		<script src="/scripts/jquery-3.2.1.min.js"></script>
		<script src="/scripts/pace.min.js"></script>
		<script src="/scripts/main.js"></script>
		<script src="/scripts/client.js"></script>
		<script>
			var tID = <%= tID %>;
		</script>
	</head>
	<body onload='myLoad(tID)'>
		<!-- Само окно -->
	<div id="boxes">  
	<div id="dialog" class="window"> 
	<div class="top"><a href="#" class="link close1"/><img src="/images/ModalClose.png"/ width="20" height="20"></a></div>
	<div class="content2">
		<p>Логин</p> <input type="text" id="uname"/>
		<p>Пароль</p> <input type="password" id="psw"/>
		<p id="logInfo"></p>
		<input type="button" class="log" id="Login" value="Войти" onclick='logIn(tID)'/>
		<input type="button" class="reg" id="Register" value="Зарегистрироваться" onclick='regNew2()'/>
	</div>
	</div>
	</div>
	<!-- Маска, затемняющая фон -->
	<div id="mask"></div>
		<div class="logo">
			<% include header %>
		</div>

			<div class="container-fluid">
				<div class="rowNews">
						<div class="column">
							<div id='tContent' class="content">
							
								<img class='imgcol' src='<%= nImage %>'/>
								<h4><%= nTitle %></h4>
								<h3><%= nAuthor %></h3>						
								<%- include(title) %>
								<h5><font size="4" id='loyceCnt'>Рейтинг: <%= rate %> </font>
									<a id='loyceBtn' onclick='setLoyce(tID)'>&#x2764;</a>
								</h5>
							</div>

							<p id='comments'></p>
							<p id='nocommentstext'></p>
							<textarea id="textfield" name="textfield" type="text"  placeholder="Напечатайте свой комментарий здесь..."></textarea>
							<button id="sendBtn" onclick='postComm(tID)' disabled>Отправить</button>
						</div>
				</div>
			</div>
		<% include footer %>
	</body>
</html>